{% extends "base.html" %}
{% block content %}
<article>
  <aside>
    <h2>Page Demo</h2>
  </aside>
</article>
<br/>
<div>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Centaur" title="Centaur">Centaur</a>, a creature with a head and torso of a human and the body of a horse.</li>
    <li><a href="https://en.wikipedia.org/wiki/Chimera_(mythology)" title="Chimera (mythology)">Chimera</a>, a fire-breathing, three-headed monster with one head of a lion, one of a snake, and another of a goat, lion claws in front and goat legs behind, and a long snake tail.</li>
    <li><a href="https://en.wikipedia.org/wiki/Gorgons" class="mw-redirect" title="Gorgons">Gorgons</a>, female monsters depicted as having snakes on their head instead of hair, and sometimes described as having tusks, wings and brazen claws.
      <ul><li><a href="https://en.wikipedia.org/wiki/Euryale_(Gorgon)" title="Euryale (Gorgon)">Euryale</a>, whose scream could kill.</li>
      <li><a href="https://en.wikipedia.org/wiki/Medusa" title="Medusa">Medusa</a>, whose gaze could turn anyone to stone.</li>
      <li><a href="https://en.wikipedia.org/wiki/Stheno" title="Stheno">Stheno</a>, most murderous of the sisters.</li></ul>
    </li>
    <li><a href="https://en.wikipedia.org/wiki/Griffin" title="Griffin">Griffin</a> or Gryphon or Gryps or Grypes, a creature that combines the body of a lion and the head and wings of an eagle.</li>
    <li><a href="https://en.wikipedia.org/wiki/Harpies" class="mw-redirect" title="Harpies">Harpies</a>, creature with torso, head and arms of a woman, and talons, tail and wings (mixed with the arms) of a bird.
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Aello" title="Aello">Aello</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Celaeno" title="Celaeno">Celaeno</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Ocypete" title="Ocypete">Ocypete</a></li>
        </ul>
    </li>
    <li>Hydras
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Lernaean_Hydra" title="Lernaean Hydra">Lernaean Hydra</a>, also known as King Hydra, a many-headed, serpent-like creature that guarded an Underworld entrance beneath Lake <a href="https://en.wikipedia.org/wiki/Lerna"
                    title="Lerna">Lerna</a>. It was destroyed by <a href="https://en.wikipedia.org/wiki/Heracles" title="Heracles">Heracles</a>, in his second <a href="https://en.wikipedia.org/wiki/Labours_of_Heracles" class="mw-redirect" title="Labours of Heracles">Labour</a>.
                Son of Typhon and Echidna.</li>
        </ul>
    </li>
    <li><a href="https://en.wikipedia.org/wiki/Minotaur" title="Minotaur">Minotaur</a>, a monster with the head of a bull and the body of a man; slain by <a href="https://en.wikipedia.org/wiki/Theseus" title="Theseus">Theseus</a>.</li>
    <li>Multi-headed Dogs
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Cerberus" title="Cerberus">Cerberus</a>, the three-headed giant hound that guarded the gates of the Underworld.</li>
            <li><a href="https://en.wikipedia.org/wiki/Orthrus" title="Orthrus">Orthrus</a>, a two-headed dog, brother of Cerberus, slain by Heracles.</li>
        </ul>
    </li>
    <li><a href="https://en.wikipedia.org/wiki/Phoenix_(mythology)" title="Phoenix (mythology)">Phoenix</a>, a golden-red fire bird of which only one could live at a time, but would burst into flames to rebirth from ashes as a new phoenix.</li>
    <li><a href="https://en.wikipedia.org/wiki/Siren_(mythology)" title="Siren (mythology)">Sirens</a>, bird-like women whose irresistible song lured sailors to their deaths.</li>
  </ul>
</div>
{% endblock %}
