{% extends "base.html" %}
{% block content %}
<article>
  <aside>
    <h2>Table Demo</h2>
  </aside>
  <br/>
  <p>Mythological creatures according to type and habitat.</p>
</article>
<br/>
<div>
  <table>
    <thead>
      <tr>
        <th>Creature</th>
        <th>Hybrid</th>
        <th>Habitat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="creature-name">Centaur</td>
        <td>Human</td>
        <td>Land</td>
      </tr>
      <tr>
        <td class="creature-name">Chimera</td>
        <td>Animal</td>
        <td>Land</td>
      </tr>
      <tr>
        <td class="creature-name">Gorgon</td>
        <td>Human</td>
        <td>Land</td>
      </tr>
      <tr>
        <td class="creature-name">Griffin</td>
        <td>Animal</td>
        <td>Sky</td>
      </tr>
      <tr>
        <td class="creature-name">Harpy</td>
        <td>Human</td>
        <td>Sky</td>
      </tr>
      <tr>
        <td class="creature-name">Hydra</td>
        <td>Animal</td>
        <td>Sea</td>
      </tr>
      <tr>
        <td class="creature-name">Minotaur</td>
        <td>Human</td>
        <td>Land</td>
      </tr>
      <tr>
        <td class="creature-name">Multi-headed Dogs</td>
        <td>Animal</td>
        <td>Land</td>
      </tr>
      <tr>
        <td class="creature-name">Phoenix</td>
        <td>Animal</td>
        <td>Sky</td>
      </tr>
      <tr>
        <td class="creature-name">Siren</td>
        <td>Human</td>
        <td>Sea</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
